@charset "UTF-8";

body { background-color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    }

    h1 {color: yellowgreen; background-color: blueviolet;}

    h2{
      color: coral ;
    }
    p{text-align: justify;}
    p{
      color: aliceblue;
    }
